<div class="row">
  <div class="col-md-12">
    <h2>修改行程</h2>
    <div class="pull-right">
      <%= link_to("刪除行程", admin_trip_trip_event_path(@event.trip, @event), method: :delete, class: "btn btn-danger btn-sm") %>
  </div>
</div>
</div>
<hr>
<%= render 'form' %>
